* {
    margin: 0;
    padding: 0;
}

html,body {
    font-family: 'Roboto', sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
}

#main {
    display: flex;
    height: calc(100vh - 100px - 49px);    
}

/* HEADER */

#header {
    background-color: rgb(2, 165, 214);
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
}

#header .logo {
    margin-left: 50px;
    height: 80%;
}

#header p{
    margin-left: 15px;
}

#header .title {
    font-size: 2rem;
    font-weight: 500;
}

#header .punchline {
    font-weight: 200;
    font-size: 1.2rem;
    text-decoration: 1px overline;
}

/* SIDEBAR */

#sidebar {
    width: 300px;
    min-width: 250px;
    background-color: rgba(188, 188, 188, 0.476);
}

#sidebar ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-inline: 15px;
    margin-top: 30px;
    gap: 8px;
}

#sidebar ul li {
    border-radius: 5px;
    display: flex;
    font-size: 1.1rem;
    padding-block: 8px;
    padding-inline: 10px;
    gap: 10px;
    cursor: pointer;
}


#sidebar ul li:hover {
    background: rgb(194, 194, 194);
}

.default-timetables .active {
background-color: rgb(194, 194, 194);
}

#sidebar h2 {
    font-weight: bold;
    margin-left: 15px;
    margin-top: 25px;
}

.add-project input {
    font-size: 1.1rem;
    width: 100%;
    border-radius: 8px;
    border: none;
    outline: none;
    padding-block: 5px;
    padding-left: 5px;
}

#project-description {
    outline: none;
    border: none;
    border-radius: 8px;
    padding-top: 3px;
    padding-inline: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    resize: none;
    height: 100px;
}

.add-project.active {
    display: flex;
    flex-direction: column;
    cursor: default;
}

.confirmation {
    display: flex;
    justify-content:space-around;
}

.confirmation div:nth-child(2),
.confirmation div:first-child {
    background-color: rgba(0, 176, 0, 0.817);
    border-radius: 8px;
    width: 40%;
    text-align: center;
    padding-block: 10px;
}

.confirmation div:nth-child(2){
    background-color: rgba(255, 0, 0, 0.804);
}

.add-project.active:hover {
    background: none !important;
}

/* FOOTER */
#footer {
    position: absolute;
    bottom: 0;
    background-color: purple;
    height: 50px;
    width: 100%;
 }

